<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>brandcontroller</servlet-name>
        <servlet-class>controller.brandcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fuelcontroller</servlet-name>
        <servlet-class>controller.fuelcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>citycontroller</servlet-name>
        <servlet-class>controller.citycontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehiclecontroller</servlet-name>
        <servlet-class>controller.vehiclecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>budgetcontroller</servlet-name>
        <servlet-class>controller.budgetcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modelcontroller</servlet-name>
        <servlet-class>controller.modelcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincontroller</servlet-name>
        <servlet-class>controller.logincontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registercontroller</servlet-name>
        <servlet-class>controller.registercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>variantcontroller</servlet-name>
        <servlet-class>controller.variantcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homecontroller</servlet-name>
        <servlet-class>controller.homecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackcontroller</servlet-name>
        <servlet-class>controller.feedbackcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getonroadpricecontroller</servlet-name>
        <servlet-class>controller.getonroadpricecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelByBrandServlet</servlet-name>
        <servlet-class>JSON.ModelByBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>membercontroller</servlet-name>
        <servlet-class>controller.membercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutcontroller</servlet-name>
        <servlet-class>controller.logoutcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>memberhome</servlet-name>
        <servlet-class>controller.memberhome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>memberlogincontroller</servlet-name>
        <servlet-class>controller.memberlogincontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>brandcontroller</servlet-name>
        <url-pattern>/brandcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fuelcontroller</servlet-name>
        <url-pattern>/fuelcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>citycontroller</servlet-name>
        <url-pattern>/citycontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehiclecontroller</servlet-name>
        <url-pattern>/vehiclecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>budgetcontroller</servlet-name>
        <url-pattern>/budgetcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modelcontroller</servlet-name>
        <url-pattern>/modelcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincontroller</servlet-name>
        <url-pattern>/logincontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registercontroller</servlet-name>
        <url-pattern>/registercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>variantcontroller</servlet-name>
        <url-pattern>/variantcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homecontroller</servlet-name>
        <url-pattern>/homecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackcontroller</servlet-name>
        <url-pattern>/feedbackcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getonroadpricecontroller</servlet-name>
        <url-pattern>/getonroadpricecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelByBrandServlet</servlet-name>
        <url-pattern>/ModelByBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>membercontroller</servlet-name>
        <url-pattern>/membercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutcontroller</servlet-name>
        <url-pattern>/logoutcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>memberhome</servlet-name>
        <url-pattern>/memberhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>memberlogincontroller</servlet-name>
        <url-pattern>/memberlogincontroller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
